

@media (min-width: 768px) and (max-width: 992px) {
  div.sm-container {
    position: static;
    width: 100%;
    height: auto;
    margin: auto;
  }
  div.front-end {
    width: 100%;
  }
  div.registration-wrapper {
    width: 100%;
  }
  ul.form-body-part1,
  ul.form-body-part2 {
    grid-column-gap: 150px;
  }
}

h1 {
  font-size: 25px;
  margin-bottom: 35px;
  margin-top: 15px;
  text-align: center;
  color: #186091;
}
.form-body {
  display: grid;
  justify-content: center;
}
.form-body-part1,
.form-body-part2 {
  display: grid;
  grid-row-gap: 30px;
  grid-column-gap: 220px;
  margin-bottom: 30px;
}
.form-body-part1 {
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.form-body-part2 {
  grid-template-columns: 1fr;
}
.form-body p {
  margin-bottom: 5px;
}
input[type="text"] {
  width: 250px;
  padding: 10px;
  background-color: #bbe1fa;
  border: none;
  outline: none;
  color: #1b262c;
  border-bottom: .1rem solid #f4eeff;
}
.form-body-part1 li,
.form-body-part2 li{
  position: relative;
}
.form-body-part1 li .label {
  position: absolute;
  top: 20%; 
  color: #186091;
  font-size: 16px;
  font-weight: 400;
}
.academy_label {
  color: #186091;
  font-size: 16px;
  font-weight: 400;
}
.textarea_label {
  color: #186091;
}
.direction_selected,
.academy_selected {
  color: #186091;
  font-size: 16px;
  font-weight: 400;
}
 input[type="radio"] {
   width: 20px;
   margin-top: 10px;
}
.female {
  left: -20px;
}
.sex {
  justify-self: start;
}
textarea {
  resize: none;
  width: 100%;
  height: 100px;
  line-height: 20px;
  border: none;
  color: #1b262c;
  text-indent: 10px;
  background-color: #f4eeff;
  
}
.submit {
  width: 100px;
  height: 40px;
  background-color:  rgb(24, 96, 145,0.3);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  outline: 0;
  font-size: 16px;
  margin: 0 auto 20px;
}
/* 思贤部分开始 */

.form-body-part1 .tip,
.form-body-part2 .tip {
  display: none;
}
.form-body-part1 li {
  position: relative;
}

.form-body-part1 li span {
  display: block;
}
.sex_wrapper {
  color: #186091;
  

}
.tip {
  display: inline-block;
  position: absolute;
  color: #3282b8;
  font-size: 12px;
}
/* 思贤部分结束 */

  /* left: 4px;
  color: #3282b8;
  font-size: 12px;
}  */


/*提示语的样式*/
.notice {
  color: #3282b8;
  font-size: 12px;
}
/*提示语隐藏*/
.qq_tip,
.intro_tip,
.skills_tip,
.impress_tip {
  opacity: 0;
}
.grade_tip {
  color: #3282b8;
  font-size: 12px;
  padding-left: 4px;
}

/*学院下拉框*/
.academy,
.direction {
  position: relative;
  width: 250px;
  height: 42px;
  line-height: 37px;
  text-indent: 10px;
  border-bottom: .1rem solid #f4eeff;
  background-color: #bbe1fa;
}
.academy_down,
.direction_down {
  position: absolute;
  right: 7px;
  top: 16px;
  z-index: 10;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #3282b8;
}
.academy_list,
.direction_list {
  position: absolute;
  top: 36px;
  left: -1px;
  width:  250px;
  border: 1px solid #f4eeff;
  background-color: #bbe1fa;
  border-top: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 11;
  display: none;
}
.academy_list ul li,
.direction_list ul li {
  width: 100%;
  height: 36px;
  cursor: pointer;
  line-height: 30px;
  text-indent: 10px;
  color: #3282b8;
}
.academy_list li:hover,
.direction_list li:hover {
  background-color:#f4eeff;
}